/*Base Elements*/
body {
  margin-top: 70px;
  margin-left: 40px;
}
table .selected {
    background-color:#FFFF99;
    color:black;
    font-weight:bold;
}
.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}
form .progress {
    line-height: 15px;
}
}
.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}
.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}