<div class="row">
	<h1>People and Details</h1>
	<table class="table table-bordered">
	<thead style="background-color: lightgray;">
	  <tr>
	    <td style="width: 30px;"></td>
	    <td>Telephone</td>
	    <td>Name</td>
	    <td>Address</td>
	    <td>City</td>
	    <td>State</td>
	  </tr>  
	</thead>
	<tbody>
	  <tr ng-repeat-start="patient in tableData">
	    <td>
	      <button type="button" class="btn btn-default" ng-if="patient.expanded" ng-click="patient.expanded = false">-</button>
	      <button type="button" class="btn btn-default" ng-if="!patient.expanded" ng-click="patient.expanded = true">+</button>
	    </td>
	    <td>{{patient.telephone}}</td>
	    <td>{{patient.name}}</td>
	    <td>{{patient.street}}</td>
	    <td>{{patient.state}}</td>
	    <td>{{patient.city}}</td>
	  </tr>
	  <tr ng-if="patient.expanded" ng-repeat-end="">
	    <td colspan="10">
	    	<table class="table table-striped table-hover">
	    		<tr>
	    			<th>Serial Number</th>
                    <th>Date-Time</th>
                    <th>Test</th>
                    <th>Value</th>
                    <th>Nominal Range</th>
                    <th>Abnormal Value</th>
                </tr>
                <tr ng-repeat-start="result in patient.results" ng-class="{'selected':result.highlight == true}">
                	<td>{{result.no}}</td>
                    <td>{{result.date}}</td>
                    <td>{{result.testname}}</td>
                    <td>{{result.value}}</td>
                    <td>{{result.nominalValue}}</td>
                    <td>{{result.abnormalValue}}</td>
                </tr>
                <tr ng-repeat-end=""></tr>
	    	</table>
	    </td>
	  </tr>
	</tbody>
	</table>
</div>
